<div class="row" ng-cloak>
  <!-- being ngRepeat -->
  <div ng-repeat="criterion in vm.criteria track by $index">
    <div class="row">
      <div class="input-field col s2">
        <init-dropdown index="{{$index}}" vm="vm">
          <select id="item-{{$index}}" ng-model="criterion.selectedColumn"
                                       ng-options="column as column for column in vm.columns"
                                       ng-change="vm.criteriaSelected($index)">
            <option value="" disabled selected>Choose your option</option>
          </select>
          <label>Item</label>
        </init-dropdown>
      </div>
      <div class="input-field col s2">
        <init-dropdown index="{{$index}}" vm="vm">
          <select id="operator-{{$index}}" ng-model="criterion.selectedOperator"
                                           ng-options="operator as operator for operator in criterion.availableOperators">
            <option value="" disabled selected>Choose your option</option>
          </select>
          <label>Operator</label>
        </init-dropdown>
      </div>
      <div class="input-field col s3">
        <input id="value" type="text" ng-model="criterion.value">
        <label for="value" class="active">Value</label>
        <!--hack b/c if not set to active, input text overlays label-->
      </div>

      <a class="waves-effect waves-teal btn-flat">
        <i class="large material-icons" ng-click="vm.revoveCriterion($index)">delete</i>
      </a>
    </div>
  </div>
  <!-- end ngRepeat -->
  
  <a class="waves-effect waves-light btn" ng-click="vm.addCriterion()">ADD ITEM</a>
  <a class="waves-effect waves-light btn" ng-click="vm.clearAll()">CLEAR ALL</a>
  <a class="waves-effect waves-light btn" ng-click="vm.runQuery()">RUN QUERY</a>
  <a class="waves-effect waves-light btn" ng-click="vm.loadQuery()">LOAD QUERY</a>
  <a class="waves-effect waves-light btn" ng-click="vm.testLoadQuery()">TEST LOAD QUERY</a>
</div>