
#map-container {
  top:56px;left:0px;right:0px;bottom:0px;
  position: absolute;
}

#charts-container {
  top:56px;left:0px;right:0px;bottom:0px;
  position: absolute;
}

.angular-google-map-container {
  height: 100%; 
  width: 100%;
  position: absolute;
}

.login__input {
  margin-bottom: 0px;
  padding-top: 0px;
}

.login__container {
  margin-left: 20px;
  margin-right: 20px;
}


.notification {
  overflow: hidden;
  color: #000;
}

.marker-detail__tab {
max-height: 40vh;
}

.marker-detail__tab-container {
  width: 500px;
}

.marker-detail__chart {
  width:100%; 
  overflow: hidden; 
  margin: 0
}
