.chart {
  min-width: 550px;
  max-width: 625px;
  height: 332px;
  margin-left: auto;
  margin-right: auto;
}

.chart__content {
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

.chart-wrapper {
  margin: 20px;
}

.md-headline {
  margin-left: 20px;
}