.toolbar-item__icon {
  width:24px;
  height:32px;
  vertical-align: top;
}

.side-nav__close {
  margin-bottom: 5px
}

@media (max-width: 800px) {
  #notification-text {
    display: none;
  }
    #filter-text {
    display: none;
  }
  .toolbar-item__text {
    display: none; 
  }
}