.md-button {
  min-width: 48px;
  min-height: 24px;
  padding-top: 8px;
}    

.toolbar-item__icon {
  width:24px;
  height:32px;
  vertical-align: top;
}

md-menu-bar md-menu.md-open > button {
  background-color: rgba(255,255,255,0.2);
}

md-menu-content > md-menu-item  .md-button > span {
  color: #222;
  line-height: initial;
}

@media (max-width: 800px) {
  #notification-text {
    display: none;
  }
    #filter-text {
    display: none;
  }
  .toolbar-item__text {
    display: none; 
  }
}