.md-button {
  min-width: 48px;
  min-height: 24px;
  padding-top: 8px;
}    

.toolbar-item__icon {
  width:24px;
  height:32px;
  vertical-align: top;
}

.toolbar-item__text {

}

@media (max-width: 800px) {
  #notification-text {
    display: none;
  }
    #filter-text {
    display: none;
  }
}