<md-dialog id="login-dialog" aria-label="Login" ng-cloak ng-controller="LoginCtrl as vm">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Login</h2>
        </div>
      </md-toolbar>
      <md-content >
        <div class="login__container">
          <md-input-container class="md-block login__input">
            <label>username</label>
            <input ng-model="vm.username">
          </md-input-container>
          <md-input-container class="md-block login__input">
            <label>password</label>
            <input type="password" ng-model="vm.password">
          </md-input-container>
        </div>
      </md-content>
    <md-dialog-actions layout="row" class="login__container">
      <span flex></span>
      <md-button ng-click="vm.closeDialog()" class="login__input">Cancel</md-button>
      <md-button ng-click="vm.login()" class="login__input">Ok</md-button>
    </md-dialog-actions>
</md-dialog>