<md-toolbar layout="row" ng-cloak>
  <div class="md-toolbar-tools">
    <span><a href="/#/map">Arvakr</a></span>
    <span flex=""></span>
    

    <md-menu-bar>
    
      <md-menu ng-if='vm.isAuthenticated == true'>
        <a>
        <md-button ng-click="$mdOpenMenu($event)">
          <div>
            <span class='toolbar-item__text'>{{::vm.username}}</span>
            <svg class='toolbar-item__icon' fill="#CCD" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </div>
        </md-button>
        </a>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="vm.logout()"> Log out </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      
      <md-menu ng-if='vm.isAuthenticated == true'>
        <a>
        <md-button ng-click="$mdOpenMenu($event)">
          <div>
            <span id="notification-text" class='toolbar-item__text'>notifications</span>
            <svg class='toolbar-item__icon' fill="#CCD" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/>
            </svg>
          </div>
        </md-button>
        </a>
        <md-menu-content width="4" layout="column" class="notification">
          <md-menu-item ng-repeat="notification in vm.notifications" layout="row">
            <md-button md-prevent-menu-close="md-prevent-menu-close" ng-click="vm.selectNotification(notification)" flex="75">{{notification.description}}</md-button>
            <span>
              <md-button md-prevent-menu-close="md-prevent-menu-close" ng-click="vm.removeNotification(notification)"><span md-prevent-menu-close>close</span></md-button>
            </span>
            
          </md-menu-item>
        </md-menu-content>
      </md-menu>
     
    </md-menu-bar>
    
    <md-button ng-if='vm.isAuthenticated == true' href='/#/map'>
      <div>
        <span class='toolbar-item__text'>map</span>
        <svg class='toolbar-item__icon' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" fill="#DDE">
          <path d="M36.442,95.585c0,0,36.799,0,40.132,0c0,0,7.47,0.001,7.47-7.418c0-3.103,0-5.146,0-5.146H42.98L36.442,95.585z"/>
          <path d="M74.482,24.585L49.148,72.071l34.895-0.082c0,0,0-37.425,0-40.527c0-6.877-4.712-6.877-6.55-6.877  S74.482,24.585,74.482,24.585z"/>
          <path d="M51.767,53.718c0,0,15.898-24.624,15.898-33.405S60.548,4.415,51.767,4.415s-15.899,7.119-15.899,15.898  C35.867,29.094,51.767,53.718,51.767,53.718z M51.766,11.365c4.722,0,8.55,3.827,8.55,8.549c0,4.723-3.827,8.55-8.55,8.55  s-8.55-3.827-8.55-8.55C43.217,15.194,47.044,11.365,51.766,11.365z"/>
          <g> <path d="M29.636,24.585c0,0-6.729,0-8.338,0c-8.257,0-8.257,7.987-8.257,7.987c0,3.409,0,51.597,0,54.892   c0,8.121,6.303,8.121,6.303,8.121c2.643,0,2.965,0,2.965,0l22.154-41.35L29.636,24.585z"/></g>
        </svg>
      </div>
    </md-button>
   
    
    <md-button ng-if='vm.isAuthenticated == true' href='/#/charts'>
      <div>
        <span class='toolbar-item__text'>charts</span>
        <svg class='toolbar-item__icon' xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="40" height="40" viewBox="0 0 100 90" enable-background="new 0 0 100 100" xml:space="preserve">
          <polygon fill="#DDE" points="10.732,76.562 10.732,18.326 5.438,18.326 5.438,76.562 5.438,81.855 10.732,81.855 95.436,81.855   95.436,76.562 "/>
          <polygon fill="#DDE" points="20.369,57.417 16.978,53.354 50.598,25.332 67.197,41.922 92.271,36.907 93.315,42.098   65.449,47.671 50.278,32.497 "/>
        </svg>
      </div>
    </md-button>
    
    <md-button ng-if='vm.isAuthenticated != true' ng-click="vm.login()">
      <div>
        <span class='toolbar-item__text'>log in</span>
        <svg class='toolbar-item__icon' fill="#CCD" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </div>
    </md-button>
    
    
    <md-button ng-if='vm.isAuthenticated != true' href='/#/notifications'>
      <div>
        <span id="notification-text" class='toolbar-item__text'>notifications</span>
        <svg class='toolbar-item__icon' fill="#CCD" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/>
        </svg>
      </div>
    </md-button>


    <md-button ng-click="vm.viewFilter()">
      <div>
        <span id="filter-text" class='toolbar-item__text'>filter</span>
        <svg class='toolbar-item__icon' viewBox="0 0 24 24">
          <path fill="#CCD" d="M3,2H21V2H21V4H20.92L14,10.92V22.91L10,18.91V10.91L3.09,4H3V2Z" />
        </svg>
      </div>
    </md-button>
  </div>
</md-toolbar>