<md-toolbar layout="row" ng-cloak>
  <div class="md-toolbar-tools">
    <span><a href="/#/map">Arvakr</a></span>
    <span flex=""></span>
    
    <md-button ng-if='vm.isAuthenticated != true' ng-click="vm.login()">
      <div>
        <span class='toolbar-item__text'>log in</span>
        <svg class='toolbar-item__icon' fill="#CCD" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </div>
    </md-button>
    
    <md-menu ng-if='vm.isAuthenticated == true'>
      <md-button ng-click="$mdOpenMenu($event)">
        <div>
          <span class='toolbar-item__text'>{{vm.username}}</span>
          <svg class='toolbar-item__icon' fill="#CCD" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </div>
      </md-button>
      <md-menu-content style="margin-top:50px" width="4">
        <md-menu-item>
          <md-button ng-click="vm.logout()"> Log out </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    
    <md-button href='/#/notifications'>
      <div>
        <span class='toolbar-item__text'>notifications</span>
        <svg class='toolbar-item__icon' fill="#CCD" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/>
        </svg>
      </div>
    </md-button>
    <md-button href='/#/filter'>
      <div>
        <span class='toolbar-item__text'>filter</span>
        <svg class='toolbar-item__icon' viewBox="0 0 24 24">
          <path fill="#CCD" d="M3,2H21V2H21V4H20.92L14,10.92V22.91L10,18.91V10.91L3.09,4H3V2Z" />
        </svg>
      </div>
    </md-button>
  </div>
</md-toolbar>