

<div layout="row" layout-align="center start" flex="100">
    <md-content id="scoring-container" flex="100" flex-gt-lg="60">
        <md-list>
            <md-list-item ng-repeat="dataset in vm.datasets" flex="100" layout-wrap>
                <span flex="20"><h3>{{dataset.DisplayName}}</h3></span>
                <md-select flex="65" ng-model="dataset.activeTimeSeries" placeholder="select a timeseries dataset...">
                    <md-option  ng-repeat="timeSeries in dataset.TimeSeriesEndpoints" value="{{timeSeries}}">{{timeSeries.DisplayName}}</md-option>
                </md-select>

                <span flex="15">
                    <md-button class="md-secondary">Edit</md-button>
                </span>
                <span flex="50" ng-if="dataset.activeTimeSeries != null">
                    Time Series is set
                </span>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>

