<md-dialog id="marker-detail-dialog" aria-label="Login" ng-cloak ng-controller="MarkerDetailCtrl as vm">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Marker Details</h2>
        </div>
      </md-toolbar>
      <md-content style="max-width: 350px; max-height: 500px;">
        <div style="max-width: 350px; max-height: 500px; margin-left: 20px; margin-right: 20px;">
        <h5>Latitude: {{vm.markerDetails.latitude/1000000}}</h5>
        <h5>Longitude: {{vm.markerDetails.longitude/1000000}}</h5>
        </div>
      </md-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="vm.closeDialog()">Cancel</md-button>
      <md-button ng-click="vm.showChart()" style="margin-right: 20px;">View Chart</md-button>
    </md-dialog-actions>
</md-dialog>